body {
  font-family: Arial, sans-serif;
  font-size: 30px;
  margin: 20px;
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 100px);
  grid-gap: 1px;
  justify-content: center;

  div {
    height: 100px;
    background: #eee;
    border: 1px solid black;
    transition: transform 0.5s ease;
    box-sizing: border-box;

    &::before {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &:hover {
      background-color: pink;
      transform: translateY(-20px);
      cursor: pointer;
    }
  }
}


$weekDays: (
  mon: 1,
  tue: 2,
  wed: 3, 
  thu: 4,
  fri: 5,
  sat: 6,
  sun: 7
);

.calendar-28 {
  :last-child, :nth-child(30), :nth-child(29) {
    display: none;
  }
}

.calendar-29 {
  :last-child, :nth-child(30) {
    display: none;
  }
}

.calendar-30 {
  :last-child {
    display: none;
  }
}

@for $monthDay from 1 through 31 {
  .calendar {
    div:nth-child(#{$monthDay})::before {
      content: '#{$monthDay}';
    }
  }
}

@each $weekDay, $num in $weekDays {
  .calendar-#{$weekDay} div:first-child {
    grid-column-start: #{$num};
  }
}
